body 
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.heading
{
    color: white;
}

.song
{
    font-size: 20px;
    box-shadow: 5px 5px 5px white;
    width: 130px;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
}